In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-03-27 22:52:01,-34.4187,19.2345,66.79,67,98,3.15
1,1,Butaritari,KI,2022-03-27 22:56:42,3.0707,172.7902,81.03,65,90,7.67
2,2,Ribeira Grande,PT,2022-03-27 22:53:04,38.5167,-28.7000,60.15,85,100,16.98
3,3,Pangai,TO,2022-03-27 22:56:42,-19.8000,-174.3500,82.51,69,75,8.05
4,4,Ishigaki,JP,2022-03-27 22:56:43,24.3448,124.1572,68.13,100,100,17.27

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level= 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating= False, max_intensity= 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2022-03-27 22:56:42,3.0707,172.7902,81.03,65,90,7.67
3,3,Pangai,TO,2022-03-27 22:56:42,-19.8000,-174.3500,82.51,69,75,8.05
7,7,Saint George,US,2022-03-27 22:56:43,37.1041,-113.5841,84.63,9,79,11.99
10,10,Mayumba,GA,2022-03-27 22:55:36,-3.4320,10.6554,79.61,91,82,2.44
13,13,Kirakira,SB,2022-03-27 22:56:44,-10.4544,161.9205,83.82,74,100,2.13
18,18,Atuona,PF,2022-03-27 22:55:27,-9.8000,-139.0333,78.91,79,60,12.66
20,20,Caravelas,BR,2022-03-27 22:56:46,-17.7125,-39.2481,76.17,83,0,5.10
25,25,Saint-Philippe,RE,2022-03-27 22:52:31,-21.3585,55.7679,78.39,86,98,8.79
26,26,Gizo,SB,2022-03-27 22:56:48,-8.1030,156.8419,82.85,76,75,5.61
27,27,Araouane,ML,2022-03-27 22:56:48,18.9048,-3.5265,84.20,16,50,10.58

In [14]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2022-03-27 22:56:42,3.0707,172.7902,81.03,65,90,7.67
3,3,Pangai,TO,2022-03-27 22:56:42,-19.8000,-174.3500,82.51,69,75,8.05
7,7,Saint George,US,2022-03-27 22:56:43,37.1041,-113.5841,84.63,9,79,11.99
10,10,Mayumba,GA,2022-03-27 22:55:36,-3.4320,10.6554,79.61,91,82,2.44
13,13,Kirakira,SB,2022-03-27 22:56:44,-10.4544,161.9205,83.82,74,100,2.13
...,...,...,...,...,...,...,...,...,...,...
547,547,Luwuk,ID,2022-03-27 23:10:13,-0.9516,122.7875,79.18,82,100,1.19
548,548,Mbaiki,CF,2022-03-27 23:10:13,3.8678,17.9892,77.22,46,79,0.81
549,549,Hattiesburg,US,2022-03-27 23:10:14,31.3271,-89.2903,82.72,31,0,8.05
552,552,Kuching,MY,2022-03-27 23:07:23,1.5500,110.3333,75.42,94,20,0.00
556,556,Sinnamary,GF,2022-03-27 23:11:15,5.3833,-52.9500,77.56,87,96,13.00

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1       Butaritari      KI     81.03   3.0707  172.7902
3           Pangai      TO     82.51 -19.8000 -174.3500
7     Saint George      US     84.63  37.1041 -113.5841
10         Mayumba      GA     79.61  -3.4320   10.6554
13        Kirakira      SB     83.82 -10.4544  161.9205
18          Atuona      PF     78.91  -9.8000 -139.0333
20       Caravelas      BR     76.17 -17.7125  -39.2481
25  Saint-Philippe      RE     78.39 -21.3585   55.7679
26            Gizo      SB     82.85  -8.1030  156.8419
27        Araouane      ML     84.20  18.9048   -3.5265

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,81.03,3.0707,172.7902,Isles Sunset Lodge
3,Pangai,TO,82.51,-19.8000,-174.3500,Ha'apai Beach Resort
7,Saint George,US,84.63,37.1041,-113.5841,Best Western Plus Abbey Inn
10,Mayumba,GA,79.61,-3.4320,10.6554,LIKWALE LODGE
13,Kirakira,SB,83.82,-10.4544,161.9205,SanBiz Lodge
18,Atuona,PF,78.91,-9.8000,-139.0333,Villa Enata
20,Caravelas,BR,76.17,-17.7125,-39.2481,Pousada dos Navegantes
25,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
26,Gizo,SB,82.85,-8.1030,156.8419,Imagination Island
27,Araouane,ML,84.20,18.9048,-3.5265,

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))